<div class="col-md-6 col-xs-12" ng-show="tareasUi[0] != undefined">
    <div class="card">
        <div class="card-header" data-background-color="red">
            <h3 class="numero-tareas">{{tareasUi.length}}/<small>Tareas</small></h3>
            <h4 class="title">Tareas importantes y urgentes</h4>
            <p class="category">Trata de disminuir esta lista o tendras un dia muy atareado!</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Nombre</th>
                                    <th>Fecha planeada</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tareaui in tareasUi">
                                    <td title="Descripción: {{tareaui.descripcion}}">{{tareaui.nombre}}</td>
                                    <td>{{tareaui.fechaPlaneada | date:'yyyy-MM-dd'}}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
											<input name="optionsCheckboxes" ng-model="tareaui.seleccionada" type="checkbox">
                                            <span class="checkbox-material"><span class="check"></span></span>
											</label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 botones-derecha">
                    <button class="btn btn-success btn-sm" ng-click="cerrarTareas(tareasUi)">
                                        <span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>
                                        Terminar tareas
                                    </button>
                    <button class="btn btn-sm" ng-click="cancelar(tareasUi)">
                                        <i class="material-icons">close</i> Cancelar 
                                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-6 col-xs-12" ng-show="tareasINU[0] != undefined">
    <div class="card">
        <div class="card-header" data-background-color="green">
            <h3 class="numero-tareas">{{tareasINU.length}}/<small>Tareas</small></h3>
            <h4 class="title">Tareas importantes no urgentes</h4>
            <p class="category">Esta tareas reflejan lo que deseas!</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Nombre</th>
                                    <th>Fecha planeada</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tareainu in tareasINU">
                                    <td title="Descripción: {{tareainu.descripcion}}">{{tareainu.nombre}}</td>
                                    <td>{{tareainu.fechaPlaneada | date:'yyyy-MM-dd'}}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
											<input name="optionsCheckboxes" ng-model="tareainu.seleccionada" type="checkbox">
                                            <span class="checkbox-material"><span class="check"></span></span>
											</label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 botones-derecha">
                    <button class="btn btn-success btn-sm" ng-click="cerrarTareas(tareasINU)">
                                        <span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>
                                        Terminar tareas
                                    </button>
                    <button class="btn btn-sm" ng-click="cancelar(tareasINU)">
                                        <i class="material-icons">close</i> Cancelar 
                                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-6 col-xs-12" ng-show="tareasNOU[0] != undefined">
    <div class="card">
        <div class="card-header" data-background-color="orange">
            <h3 class="numero-tareas">{{tareasNOU.length}}/<small>Tareas</small></h3>
            <h4 class="title">Tareas No importantes y urgentes</h4>
            <p class="category">Se te ha hecho tarde para finalizar estas tareas!</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Nombre</th>
                                    <th>Fecha planeada</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tareanou in tareasNOU">
                                    <td title="Descripción: {{tareanou.descripcion}}">{{tareanou.nombre}}</td>
                                    <td>{{tareanou.fechaPlaneada | date:'yyyy-MM-dd'}}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
											<input name="optionsCheckboxes" ng-model="tareanou.seleccionada" type="checkbox">
                                            <span class="checkbox-material"><span class="check"></span></span>
											</label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-md-12 botones-derecha">
                    <button class="btn btn-success btn-sm" ng-click="cerrarTareas(tareasNOU)">
                                        <span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>
                                        Terminar tareas
                                    </button>
                    <button class="btn btn-sm" ng-click="cancelar(tareasNOU)">
                                        <i class="material-icons">close</i> Cancelar 
                                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-xs-12" ng-show="tareasAsinadas[0] != undefined">
    <div class="card">
        <div class="card-header" data-background-color="grey">
            <h3 class="numero-tareas">{{tareasAsinadas.length}}/<small>Tareas</small></h3>
            <h4 class="title">Tareas re asignadas</h4>
            <p class="category">Finaliza o desecha tus tareas asignadas!</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Nombre</th>
                                    <th>Fecha de registro</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tareaasig in tareasAsinadas">
                                    <td title="Descripción: {{tareaasig.descripcion}}">{{tareaasig.nombre}}</td>
                                    <td>{{tareaasig.fechaRegistro | date:'yyyy-MM-dd'}}</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
											<input name="optionsCheckboxes" ng-model="tareaasig.seleccionada" type="checkbox">
                                            <span class="checkbox-material"><span class="check"></span></span>
											</label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-md-12 botones-derecha">
                    <button class="btn btn-success btn-sm" ng-click="cerrarTareas(tareasAsinadas)">
                                        <span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>
                                        Terminar tareas
                                    </button>
                    <button class="btn btn-sm" ng-click="cancelar(tareasAsinadas)">
                                        <i class="material-icons">close</i> Cancelar 
                                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-xs-12" ng-show="tareasALD[0] != undefined">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h3 class="numero-tareas">{{tareasALD.length}}/<small>Tareas</small></h3>
            <h4 class="title">Algun dia!!</h4>
            <p class="category">Qui estan todos tus sueños!!</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 50%">Nombre</th>
                                    <th>Fecha de registro</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tareaald in tareasALD">
                                    <td title="Descripción: {{tareaald.descripcion}}">{{tareaald.nombre}}</td>
                                    <td>{{tareaald.fechaRegistro | date:'yyyy-MM-dd'}}</td>
                                    <td>
                                            <div class="checkbox">
                                                <label>
                                                <input name="optionsCheckboxes" ng-model="tareaald.seleccionada" type="checkbox">
                                                <span class="checkbox-material"><span class="check"></span></span>
                                                </label>
                                            </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-12 botones-derecha">
                    <button class="btn btn-success btn-sm" ng-click="cerrarTareas(tareasALD)">
                                        <span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>
                                        Terminar tareas
                                    </button>
                    <button class="btn btn-sm" ng-click="cancelar(tareasALD)">
                                        <i class="material-icons">close</i> Cancelar 
                                    </button>
                </div>
            </div>
        </div>
    </div>
</div>