<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="green">
            <h4 class="title">Administración de tareas</h4>
            <p class="category">Priorización y asignacion</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">

                    <div class="tim-typo" ng-show="tareas[0] == undefined">                       
                        <blockquote>
                            <p>
                                Aun no hay tareas en esta sección
                            </p>
                            <small>
									Sis-planer Lab
							</small>
                        </blockquote>
                    </div>


                    <div class="table-responsive" ng-show="tareas[0] != undefined">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 30%">Nombre</th>
                                    <th style="width: 30%">Descripcion</th>
                                    <th>Prioridad</th>
                                    <th>Fecha realizacion</th>
                                    <th>Reasignar</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tarea in tareas">
                                    <td>{{tarea.nombre}}</td>
                                    <td>{{tarea.descripcion}}</td>
                                    <td>
                                        <select class="mdb-select" ng-disabled="tarea.edit != true" ng-model="tarea.tipo">
                                            <option value="" disabled selected>Elija una prioridad</option>
                                            <option value="IU">Importante Urgente</option>
                                            <option value="INU">Importante no Urgente</option>
                                            <option value="NOU">No Urgente Importante</option>
                                            <option value="ALD">Algun Dia!</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" type="date" ng-model="tarea.fechaPlaneada" placeholder="yyyy-MM-dd" ng-disabled="tarea.edit != true || tarea.tipo == 'ALD'"
                                            required valid-date/>

                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Re-asignar" class="btn btn-success btn-xs" ng-disabled="tarea.edit == true" 
                                          ng-click="asignarTarea(tarea)">
																<i class="material-icons">send</i>
															</button>

                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Editar Tarea" class="btn btn-warning btn-xs" ng-click="editarTarea(tarea)" ng-show="tarea.edit != true">
																<i class="material-icons">edit</i>
															</button>
                                        <button type="button" rel="tooltip" title="Guardar Tarea" class="btn btn-primary btn-xs" ng-click="actualizarTarea(tarea)"
                                            ng-hide="tarea.edit != true">
																<i class="material-icons">save</i>
															</button>
                                        <button type="button" rel="tooltip" title="Eliminar tarea" class="btn btn-danger  btn-xs" ng-click="eliminarTarea(tarea)"
                                            ng-show="tarea.edit != true">
																<i class="material-icons">delete</i>
															</button>

                                        <button type="button" rel="tooltip" title="Cancelar" class="btn btn-danger btn-xs" ng-hide="tarea.edit != true" ng-click="cancelTarea(tarea)">
																<i class="material-icons">close</i>
															</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->         