<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="orange">
            <h4 class="title">Listado de tareas asignadas</h4>
            <p class="category">seguimiento tareas asignadas</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-typo" ng-show="tareas[0] == undefined">                       
                        <blockquote>
                            <p>
                                Aun no hay tareas en esta sección
                            </p>
                            <small>
									Sis-planer Lab
							</small>
                        </blockquote>
                    </div>


                        <div class="table-responsive" ng-show="tareas[0] != undefined">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="tarea in tareas">
                                        <td>{{tarea.nombre}}</td>
                                        <td>{{tarea.descripcion}}</td>
                                        <td>{{tarea.fechaRegistro | date:'yyyy-MM-dd HH:mm'}}</td>
                                        <td> <button type="button" rel="tooltip" title="Editar Tarea" class="btn btn-info btn-md"
                                                ng-click="seleccionarTarea(tarea)" data-toggle="modal" data-target="#detalleModal">
                                        <i class="material-icons">find_in_page</i>
																Detalle
															</button> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                    <h3 class="modal-title" id="myModalLabel">Seguimiento de tarea

                    </h3>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                                <div class="form-group col-md-6">
                                    <label>Nombre</label>
                                    <input name="nombreTarea" class="form-control" ng-model="tareaSeleccionada.nombre" disabled>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Descripción</label>
                                    <input class="form-control" ng-model="tareaSeleccionada.descripcion" disabled>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Fecha creación</label>
                                    <label class="form-control">{{tareaSeleccionada.fechaRegistro | date:'yyyy-MM-dd HH:mm'}}</label>
                                </div>
                            </div>
                        </div>


                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="material-icons">speaker_notes</i>
                            </div>
                            <div class="card-content">
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="tim-typo" ng-show="tareaSeleccionada.comentarios[0] == undefined">
                                        <span class="tim-note">2017/02/02</span>
                                        <blockquote>
                                            <p>
                                                Aun no existen comentarios de seguimiento para esta tarea
                                            </p>
                                            <small>
												 Sis-planer Lab
								</small>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-12 col-xs-12 rounded-border" ng-class-odd="'div-strip'" ng-repeat="seg in tareaSeleccionada.comentarios">
                                        <div class="col-xs-10 nota-descripcion">
                                            <label>{{seg.descripcion}}</label> <small class="tim-note"> -- {{seg.fechaRegistro | date:'yyyy-MM-dd HH:mm'}}</small>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="col-md-2"></div>
                        <form ng-submit="agregarSeguimiento()">
                            <div class="form-group col-md-6">
                                <label>Descripción</label>
                                <input class="form-control" id="descrip" ng-model="seguimiento.descripcion" required>
                            </div>

                            <div class="form-group col-md-2">
                                <button class="btn btn-raised btn-round btn-info" type="submit">
                                                Comentar!
                                            <div class="ripple-container"></div></button>
                            </div>
                        </form>
                        <div class="col-md-12">
                            <div class="form-group derecha">
                                <button class="btn btn-raised btn-round btn-warning btn-xs" ng-click="actualizarTarea()" title="Cerrar tarea">
                                                Cerrar tarea
                                            <div class="ripple-container"></div></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>