<div class="col-md-8">
    <div class="card">
        <div class="card-header" data-background-color="grey">
            <h4 class="title">Crear tareas</h4>
            <p class="category">administración de tareas</p>
        </div>
        <div class="card-content">

            <form name="myForm" ng-submit="crearTarea()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label>Numeros</label>
                            <input name="tipoTarea" class="form-control" ng-model="numero" required numbers-only>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Alfanumerico</label>
                            <input class="form-control" ng-model="Alfanumerico" required varchar>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Fecha</label>
                            <input class="form-control" type="date"  ng-model="fecha" placeholder="yyyy-MM-dd" 
                            required  valid-date/>

                        </div>

                        <div class="form-group col-md-6">
                            <label>Fecha de realización</label>
                            <input class="form-control" type="date"  ng-model="nuevaTarea.fecharealizacion" placeholder="yyyy-MM-dd" 
                            required  valid-date/>

                        </div>
                        
                        <div class="form-group col-md-6">
                            <div class="form-group derecha">
                                <button type="submit" class="btn btn-info btn-md" ng-dblclick="disableSubmit = true" ng-disabled="disableSubmit">Guardar</button>
                                <button type="button" class="btn btn-md btncancelar" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>