<div class="col-md-5 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header" data-background-color="grey">
            <h4 class="title">Crear tareas</h4>
            <p class="category">Todas tus tareas sin priorizar</p>
        </div>
        <div class="card-content">

            <form name="myForm" ng-submit="crearTarea()">
                <div class="row col-md-offset-1">
                        <div class="form-group col-md-10">
                            <label>Nombre</label>
                            <input name="nombreTarea" id="nombreTarea" class="form-control" ng-model="nuevaTarea.nombre" required>
                        </div>
                       
                        <div class="form-group col-md-10">
                            <label>Descripcion</label>
                            <input class="form-control" ng-model="nuevaTarea.descripcion">
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group derecha">
                                <button type="submit" class="btn btn-info btn-md" ng-dblclick="disableSubmit = true" ng-disabled="disableSubmit">Guardar</button>
                                <button type="button" class="btn btn-md btncancelar" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-md-7 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header" data-background-color="green">
            <h4 class="title">Listado de tareas</h4>
            <p class="category">administración de tareas</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="tim-typo" ng-show="tareas[0] == undefined">                       
                        <blockquote>
                            <p>
                                Aun no hay tareas en esta sección
                            </p>
                            <small>
									Sis-planer Lab
							</small>
                        </blockquote>
                    </div>

                    <div class="table-responsive" ng-show="tareas[0] != undefined">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Fecha registro</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="tarea in tareas">
                                    <td>{{tarea.nombre}}</td>
                                    <td>{{tarea.descripcion}}</td>
                                    <td>{{tarea.fechaRegistro | date:'yyyy-MM-dd HH:mm'}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>