
doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Hola #{user.name} !
      p
        h2.h2 Algunas de tus tareas estan proximas a vencerse
        | La ejecucion de estas tareas es muy importante no las olvides.
        br
        br
        br
        div
          table(border='1')
            thead
              tr: th Tarea
                  th Fecha Planeada
            tbody
              each tarea, i in tareas
                tr
                  td #{tarea.nombre}
                  td #{moment(tarea.fechaPlaneada).format('YYYY-MM-DD')}
        br
        br
        p Ver mis tareas #[a(href="http://localhost:8080") aquí]
