
doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Hola #{user.name} !
      p
        h2.h2 Te hemos extrañado por aquí
        | Es importante que registres tus tareas y avances diariamente, sólo te tomara 5 minutos.
        br
        p Ver mis tareas #[a(href="http://localhost:8080") aquí]
