
doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Hola #{user.name} !
      p
        strong No olvides tus tareas! 
        br
        | Debes dar una prioridad  a tu tarea 
        strong #{user.tareaname}
        br
