/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    
    /*Inicio Modificaciones*/
    .sidebar {
        height: 100%;
        overflow: auto;
        position: fixed !important;
    }
    
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
    -webkit-box-shadow: 0px 0px 5px 0px #808080;
    box-shadow: 0px 0px 5px 0px #808080;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/*Inicio Modificaciones*/

.navbar-brand {
    width: 250px;
}

#style-4::-webkit-scrollbar{
    width: 4px;
    height: 10px;
    padding-top: 40px;
}

#style-4::-webkit-scrollbar-track{

    border-radius: 3px;

}
#style-4::-webkit-scrollbar-thumb{

    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

#style-4::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}
.modulo{
    text-align: center;
    min-width:200px !important;
}

.bs-callout-type1 {
  border-left-color: #616161 !important;
}
.bs-callout-type1 h4 {
  color: #616161 !important;
}

.bs-callout-type2 {
  border-left-color: #5bc0de !important;
}
.bs-callout-type2 h4 {
  color: #5bc0de !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

input[required], select[required] {
    background-color: #eaf7fb !important;
}

.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.required td.required {
    text-align: center !important;
    background-color: #fef2e8 !important;
    color: #a9a6a6 !important;
    font-style: oblique !important;
}

label {
    display: inline-block;
    font-weight: normal !important;
    margin-bottom: 5px;
    max-width: 100%;
}
.flotantes{
    position: fixed;
    right: 15px;
}

.btn-circle.btn-lg {
    padding: 0 !important;
}

.foot-fixed-bottom {
 bottom: 0;
 display: block;
 margin-bottom: 0;
 position: fixed;
 right: 0;
 z-index: 1030;
}

.foot-fixed-bottom .container {
 background-color: rgba(0, 0, 0, 0);
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 2px;
 width: 100%;
}

.labeldescripcion span{
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    background-color: #e7e4e4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-style:oblique;
    height: auto;
    min-height: 36px;
    word-break: break-word;
}

.nav .modulo > a:hover{
    background-color: #fff !important;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 4px;
}

.activem{
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 4px;
}

.navbar.navbar-default.navbar-fixed-top{
    background: #283c47; /* Old browsers */
    background: -moz-linear-gradient(left,  #283c47 0%, #344e5e 35%, #344e5e 35%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #283c47 0%,#344e5e 35%,#344e5e 35%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #283c47 0%,#344e5e 35%,#344e5e 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283c47', endColorstr='#344e5e',GradientType=1 ); /* IE6-9 */

}

.busqueda{
    float: right !important;
    margin-left: 10px;
}

.form-inline{
   margin-top:20px;  
}