<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Sis-planner</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="assets/css/material-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body ng-app="app" ng-controller="signupController">
    <div class="wrapper" style="background-image:url('assets/img/fondouno.jpg');  background-repeat: repeat;">
        <div class="content">
            <div class="col-md-4 col-md-offset-7" style="padding-top: 5%">
                <div class="card">
                    <div class="card-header text-center" data-background-color="orange">
                        <h3 class="title"><i class="fa fa-user-plus" style="margin-right: 15px"></i>SingUp</h3>
                    </div>
                    <div class="card-content">
                        <form name="myForm" ng-submit="signUp()">
                            <div class="col-md-3 col-xs-3"></div>
                            <div class="col-md-6 col-xs-6">
                                <img class="image" src="assets/img/logologin.png" />
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Email</label>
                                        <input class="form-control" type="email" ng-model="user.email" required>
                                        <span class="material-input"></span>
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Nombre</label>
                                        <input class="form-control" type="text" ng-model="user.nombre" required>
                                        <span class="material-input"></span>
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Password</label>
                                        <input class="form-control" type="password" ng-model="user.password" required>
                                        <span class="material-input"></span>
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Repetir password</label>
                                        <input class="form-control" type="password" ng-model="password" required>
                                        <span class="material-input"></span>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-md">Estoy listo!</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>

<!-- Angular -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/restangular/dist/restangular.min.js"></script>
<script src="../bower_components/lodash/dist/lodash.min.js"></script>


<!--   Core JS Files   -->
<script src="assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!-- Moment -->
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/moment/locale/es.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Material Dashboard javascript methods -->
<script src="assets/js/material-dashboard.js"></script>

<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<!-- Controladores -->
<script src="scripts/signup.js"></script>
<script src="scripts/commons.js"></script>



</html>